alembic
blinker
cffi
click
cryptography
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
pycparser
PyJWT
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms

